{% extends "manager_app/tables.html" %}
{% block title %}Orders{% endblock %}
{% block table %}
<div class="dropdown-container">
    <button class="dropdown-button main-button">
      <span class="dropdown-title-icon">
        <i class="fa-solid fa-hryvnia-sign"></i>
      </span>
      <span class="dropdown-title text-truncate">UAH</span>
      <span class="dropdown-arrow" style="display: flex; justify-content: center; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 20 20">
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>
      </span>
    </button>
    <div class="dropdown-list-container">
      <div class="dropdown-list-wrapper">
        <ul class="dropdown-list"></ul>
        <!-- <div class="floating-icon" aria-hidden="true"></div> -->
      </div>
    </div>
  </div>
    <a href="{% url 'manager_add:add-order' %}" class="btn-add-container">+ add item</a>
    <thead>
        <tr>
            <th>№</th>
            <th>ID Взуття</th>
            <th>Назва</th>
            <th>Колір</th>
            <th>Модель</th>
            <th>Розмір</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Сума</th>
            <th>Отримувач</th>
            <th>Коментар</th>
            <th>Статус</th>
            <th>Керування</th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.id_order }}</td>
            <td>{{ item.o_shoes.id_shoes }}</td>
            <td>
                <a 
                href="#" 
                class="open-modal" 
                data-action="{% url 'manager_app:orders-detail' item.o_shoes.id_shoes %}"
                data-id="{{ item.id_order }}" 
                data-name="{{ item.o_shoes.sh_name }}" 
                data-model="{{ item.o_shoes.sh_model }}" 
                data-size="{{ item.o_shoes.sh_size }}" 
                data-color="{{ item.o_shoes.sh_color }}" 
                data-count="{{ item.o_count }}" 
                data-sum="{{ item.order_sum }}"
                data-recipient="{{ item.o_recipient }}"
                data-address="{{ item.o_address }}"
                data-comment="{{item.o_comment}}"
                data-status="{{ item.o_status }}"
                data-username="{{ item.o_user.u_username }}"
                onclick="openModal(event); return false;">{{ item.o_shoes.sh_name }}
              </a>
            </td>
            <td>{{ item.o_shoes.sh_color }}</td>
            <td>{{ item.o_shoes.sh_model }}</td>
            <td>{{ item.o_shoes.sh_size }}</td>
            <td>{{ item.o_shoes.sh_price }}</td>
            <td>{{ item.o_count }}</td>
            <!-- <td>{{ item.order_sum }}</td> -->
            <td><span class="product-price" data-base-price="{{ item.order_sum }}"><i class="fa-solid fa-hryvnia-sign"></i>{{ item.order_sum }}</span></td>
            <td>{{ item.o_recipient }}</td>
            <td>{{ item.o_comment }}</td>
            <td>
                {% if item.o_status == 'accepted' %}
                    <div><span>Прийнято</span></div>
                {% elif item.o_status == 'paid' %}
                    <div><span>Оплачено</span></div>
                {% elif item.o_status == 'in processing' %}
                    <div><span>В обробці</span></div>
                {% elif item.o_status == 'shipped' %}
                    <div><span>Відправлено</span></div>
                {% elif item.o_status == 'delivered' %}
                    <div><span>Доставлено</span></div>
                {% elif item.o_status == 'paid to dropper' %}
                    <div><span>Оплачено поставнику</span></div>
                {% endif %}
            </td>
            <td class="table-controls" style="min-width: 30px">
                <!-- <button onclick="openModalForm(event);return false;" class="btn-edit"><i class="fa-regular fa-pen-to-square"></i></button> -->
                <!-- <button class="btn-edit"><i class="fa-regular fa-pen-to-square"></i></button> -->
                <div class="btn-edit">
                    <a href="{% url 'manager_edit:update-order' item.id_order %}">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                  </div>
                <button class="btn-delete">
                    <form action="{% url 'manager_app:orders-delete' item.id_order %}" method="post">
                        {% csrf_token %}
                        <button type="submit" style="background:none; border:none; padding:0; margin:0;">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </button>
                <button class="btn-confirm">
                    
                        <button type="submit" style="background: none; border: none;">
                            <i class="fa-regular fa-circle-check"></i>
                        </button>
                    <!-- </form> -->
                </button>
              </td>                

        </tr>
            {% endfor %}
        </tbody>
{% endblock %}

  
{% block modals-detailed-view %}
        
<div id="modal" class="mw-container-item-detail">
  <div class="mw-item-detail-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div class="carousel-container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <img src="{{ item.o_shoes.sh_image.url }}" alt="">
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
      <div class="mw-di-second-column-container">
          <h1>{{ item.o_shoes.sh_name }}</h1>
          <p>ID: {{ item.id_order }}</p>
          <p>Модель: {{ item.o_shoes.sh_model }}</p>
          <p>Розмір {{ item.o_shoes.sh_size }}</p>
          <p>Колір: {{ item.o_shoes.sh_color }}</p>
          <p>Кількість: {{ item.o_shoes.sh_count }}</p>
          <p>Виробник: {{ item.o_shoes.sh_manufacturer }}</p>
          <p>Сума: £{{ item.order_sum }}</p>
          <p>Отримувач: {{ item.o_recipient }}</p>
          <p>Адреса: {{ item.o_address }}</p>
          <p>Коментар: {{ item.o_comment }}</p>
          <p>Користувач: {{ item.o_user.u_username }}</p>
          
      </div>
   </div>
</div>

{% endblock %}