{% extends "manager_app/layout.html" %}
{% block wrapper%}
  
{% block content %}
    <div class="login-form-container">
        <form class="login-form" method="post" action="{% url 'manager_login:login' %}">
            {% csrf_token %}
            <h1>Login</h1>
            {{ form.as_p }}
            <input type="submit" value="Login">
            <a style="margin: 20px auto;" href="{% url 'manager_login:register' %}"> Register</a>
        </form>
    </div>
  
{% endblock content %}
{% endblock wrapper%}