aside{
    width: 80px;
    max-width: 300px;
    /* width: 100%; */
    border-right: 1px solid gainsboro;
    /* height: 100vh; */
    height: auto;
    transition: all 0.5s ease-in-out;
    padding: 0;
    /* padding: 50px 0; */
    color: var(--accent-font-color);
    background-color: var(--accent-color-violet);
}
aside.active{
    width: 100%;
}
.top{
    font-size: 21px;
}
aside.active .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 10px;
    transition: all 0.5s ease-in-out;
}
.logo-container{
    display: none;
}
aside.active .logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    /* color: black; */
}
.logo-icon {
    margin-right: 15px; 
}
.logo-text {
}
.btn-burger{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
aside.active .btn-burger{
}
.avatar-container-wrapper{
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    /* align-items: center;
    flex-wrap: wrap;
    padding: 15px 0; */
    /* flex-direction: column; */
    /* margin-bottom: 50px; */
}
aside.active .avatar-container-wrapper{
    justify-content:initial;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}
.avatar-container{
    max-width: 70px;
    /* border: 2px solid firebrick; */
    margin:0;
    width: 100%;
    min-width: 70px;
    
}
aside.active .avatar-container{
    margin: 0 10px;
}
.avatar-container img{
    border-radius: 50%;
    border: 4px solid var(--accent-color-violet);
}
.name-container{
    display: none;
}
aside.active .name-container {
    display: block;
}
.username{
    font-size: 20px;
    font-weight: 700;
}
.name{
    font-weight: lighter;
    font-size: 16px;
}
.menu-container{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-container nav{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* height: 100%; */
}
.menu-container ul{
    padding: 0;
    transition: all 0.5s ease-in-out;
    /* margin-top: 10px; */
}

.menu-item{
    align-items: center;
    justify-content: center;
    height: 60px;
    /* padding-left: 25px; */
    transition: all .2s  ease-in-out;
}
.menu-item p{
    display: none;
}
aside.active .menu-item p{
    display: inline;
    margin: 0;
}
.menu-item a, .menu-item button{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: var(--accent-font-color);
    /* color: black; */
    font-size: 25px;
}
aside.active .menu-item{
    padding-left: 20px;
    font-size: 19px;
    justify-content: unset;
}
aside.active .menu-item a, aside.active .menu-item button{
    justify-content: unset;
    padding-left: 25px
}
aside.active .menu-item a p, aside.active .menu-item button p{
    font-size: 20px;
}
.menu-item a:hover, .menu-item button:hover{
    background-color: var(--accent-color-green);
    color: white; 
    cursor: pointer;
    border-radius: 15px;
    margin: 0 auto;  
}
.menu-item button {
    margin: 0 auto;
}
aside.active .menu-item button {
    margin: 0;
}
.menu-icons{
    max-width: 30px;
    /* width: 100%; */
    /* margin: 0 auto; */
}
aside.active .menu-icons{
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
}

