{% extends "manager_app/layout.html" %}
{% block content %}
              <div class="form-container">
                <form id="" method="post" enctype="multipart/form-data" action="{% url 'manager_edit:update-item' item.id_shoes %}">
                    {% csrf_token %}
                    <div class="input-and-label-container">
                        <label for="sh_name">Назва взуття:</label>
                        <input type="text" id="sh_name" name="sh_name" value="{{ item.sh_name }}">   
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_model">Модель взуття:</label>
                        <input type="text" id="sh_model" name="sh_model" value="{{ item.sh_model }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_size">Розміри взуття:</label>
                        <input type="number" id="sh_size" name="sh_size" value="{{ item.sh_size }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_color">Колір взуття:</label>
                        <input type="text" id="sh_color" name="sh_color" value="{{ item.sh_color }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_manufacturer">Виробник:</label>
                        <input type="text" id="sh_manufacturer" name="sh_manufacturer" value="{{ item.sh_manufacturer }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_count">Кількість:</label>
                        <input type="number" id="sh_count" name="sh_count" value="{{ item.sh_count }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_price">Ціна:</label>
                        <input type="number" id="sh_price" name="sh_price" value="{{ item.sh_price }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_image">Зображення:</label>
                        <input type="file" id="sh_image" name="sh_image" value="{{ item.sh_image }}">
                    </div>
                    <button type="submit" class="btn">Зберегти</button>
                </form>
            </div>

{% endblock %}