{% extends "manager_app/layout.html" %}
{% block content %}
              <div class="form-container">
                <form id="update_ordeo_form" method="post" action="{% url 'manager_edit:update-order' order.id_order %}">
                    {% csrf_token %}
                    <div class="input-and-label-container">
                        <label for="o_shoes">ID взуття:</label>
                        <!-- <input type="number" id="o_shoes" name="o_shoes" value="{% if order.o_shoes %}{{ order.o_shoes.id }}{% endif %}">    -->
                        <select id="o_shoes" name="o_shoes">
                            {% for shoe in shoes_list %}
                                <option value="{{ shoe.id_shoes }}" {% if order.o_shoes.id == shoe.id_shoes %}selected{% endif %}>{{ shoe.id_shoes }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_name">Назва:</label>
                        <input type="text" id="o_name" name="o_name" value="{{ order.o_shoes.sh_name }}" disabled>
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_model">Модель:</label>
                        <input type="text" id="o_model" name="o_model" value="{{ order.o_shoes.sh_model }}" disabled>
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_color">Колір:</label>
                        <input type="text" id="o_color" name="o_color" value="{{ order.o_shoes.sh_color }}" disabled>
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_size">Розмір:</label>
                        <input type="number" id="o_size" name="o_size" value="{{ order.o_shoes.sh_size }}" disabled>
                    </div>
                    <div class="input-and-label-container">
                        <label for="sh_count">Залишок:</label>
                        <input type="number" id="sh_count" name="sh_count" value="{{ order.o_shoes.sh_count }}" disabled>
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_count">Кількість:</label>
                        <input type="number" id="o_count" name="o_count" value="{{ order.o_count }}" min="1" max="4">
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_recipient">Отримувач:</label>
                        <input type="text" id="o_recipient" name="o_recipient" value="{{ order.o_recipient }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_address">Адреса:</label>
                        <input type="text" id="o_address" name="o_address" value="{{ order.o_address }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_comment">Коментар:</label>
                        <input type="text" id="o_comment" name="o_comment" value="{{ order.o_comment }}">
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_sum">Сума:</label>
                        <input type="number" id="o_sum" name="o_sum" value="{{ order.o_sum }}" disabled>
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_status">Статус:</label>
                        <select id="o_status" name="o_status">
                            {% for value, name in order_status %}
        <option value="{{ value }}" {% if value == order.o_status %} selected {% endif %}>{{ name }}</option>
        {% endfor %}
                        </select>                        
                    </div>
                    <div class="input-and-label-container">
                        <label for="o_user">Сума:</label>
                        <input type="number" id="o_user" name="o_user" value="{{ order.o_sum }}" disabled>
                    </div>
                    <button type="submit" class="btn">Зберегти</button>
                </form>
               </div>
               {% if messages %}
               {% for message in messages %}
                   <div class="alert alert-{{ message.tags }}">{{ message }}</div>
               {% endfor %}
           {% endif %}
{% endblock %}